body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1;
}

/* Nav bar style here */
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #000000 !important;
}
/* footer sttyles */

.info-links a {
  text-decoration: none;
  color: #222222;
}
.info-links a:hover {
  text-decoration: underline;
}

.f-info-socials,
.info-links,
.f-info-brands {
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  font-size: 1.5rem;
  margin-right: 3rem;
}

.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}
/* index style  */
.listing-card {
  border: none !important;
  margin-bottom: 1rem !important;
}
.show-image {
  width: 100%;
  max-height: 350px; /* adjust this value as needed */
  object-fit: cover;
  border-radius: 10px;
}

.card-body {
  padding: 0px !important;
}
.listing-links {
  text-decoration: none;
}
/* card effetcts*/
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* add btn */
.btn-add {
  background-color: #fe424d;
  color: white;
  border: none;
  border-radius: 7px !important;
}

/* btn edit */
.btn {
  background-color: #fe424d !important;
  color: rgb(255, 255, 255) !important;
  border: none;
  border-radius: 7px !important;
  text-decoration: none !important;
  text-align: center !important;
  
 
}

/* show page */
.show-image {
  display: flex !important;
  justify-content: center !important;
}

.btn-submit {
  height: 30px;
  background-color: #fe424d;
  color: white;
  border: none;
  border-radius: 7px !important;
}

.card,
.card-body {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}
.review-card {
  border: 1px solid black !important;
}
/* delete btn review */
.del-btn{
  background-color: black !important;
  color: white !important;
  border-radius: 10px !important;
  margin-bottom: 10px !important;
 
}
/* singup btn  */
.singup-btn{
  height: 30px;
  background-color: #fe424d;
  color: white;
  border: none;
  border-radius: 7px !important;
}
.login-btn{
  height: 30px;
  background-color: #fe424d;
  color: white;
  border: none;
  border-radius: 7px !important;
}
